@use "../default.scss";

.npunk-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.npunk-typed {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  max-width: 700px;
  padding: 0.2em;
}

.npunk-typed p.sequence1,
.npunk-typed p.sequence2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.npunk-typed p.sequence1 {
  animation-delay: 0s;
}

.npunk-typed p.sequence2 {
  animation-delay: 1.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.npunk {
  /* position: fixed; */
  position: relative;
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  z-index: 2;
  border: none;
}

.npunk-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 100%;
}

.npunk-input {
  width: 200px;
  padding: 5px 5px;
  border-radius: 8px;
  /* font-size: 1em; */
}

.npunk-textarea {
  width: 200px;
  height: 80px;
  padding: 5px 5px;
  resize: none;
  border-radius: 8px;
}

.npunk-profile {
  display: block;
  width: 300px;
  height: 300px;
  margin: 1em;
  border-radius: 50%;
}

.npunk-mint {
  width: 200px;
  height: 100px;
  border-radius: 20px;
}

@media (max-width: default.$mobile-width) {
  .npunk {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .npunk-input-container {
    height: 200px;
  }

  .npunk-input {
    width: 300px;
  }

  .npunk-textarea {
    width: 300px;
    height: 50px;
  }

  .npunk-mint {
    width: 300px;
    height: 50px;
    border-radius: 10px;
  }
}
